<header id="top" class="header">
	<div class="text-vertical" style="padding-top: 30px;">
		<div class="container-fluid">
			<div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <%= form_for @subscribe, remote: true, format: :js, authenticity_token: true do |f| %>

                                <div class="row control-group" style="padding-top: 20px;">
                                    <div class="form-group col-lg-6 floating-label-form-group controls no-pad-right">
                                        <%= f.text_field :firstname, class: "form-control input-lg", placeholder: "Firstname", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6 floating-label-form-group controls">
                                        <%= f.text_field :lastname, class: "form-control input-lg", placeholder: "Lastname", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <%= f.text_field :company, class: "form-control input-lg", placeholder: "Your Company" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-lg-6 floating-label-form-group controls no-pad-right">
                                        <%= f.email_field :email, class: "form-control input-lg", placeholder: "e-mail", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6 floating-label-form-group controls">
                                        <%= f.text_field :phone, class: "form-control input-lg", placeholder: "Phone" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>

                                <%= f.fields_for :broker_checkboxes do |builder| %>
                                    <div class="row control-group">
                                        <div class="form-group col-lg-4">
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:agent_lead, {checked: (:agent_lead ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Agent Lead
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:top_producer, {checked: (:top_producer ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Top Producer
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:boom_town, {checked: (:boom_town ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Boom Town
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:brivity, {checked: (:brivity ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Bravity
                                            </label>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:lone_wolf, {checked: (:lone_wolf ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Lone Wolf
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:real_geeks, {checked: (:real_geeks ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Real Geeks
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:rethink, {checked: (:rethink ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                ReThink
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:real_webmaster, {checked: (:real_webmaster ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Webmaster
                                            </label>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:voicepad, {checked: (:voicepad ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Voicepad
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:vulcan7, {checked: (:vulcan7 ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                Vulcan7
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:proquest, {checked: (:proquest ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                ProQuest
                                            </label>
                                            <label class="category-select switchbox_chery">
                                                <%= builder.check_box(:commision_inc, {checked: (:commision_inc ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                FirePoint
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <%= builder.text_field :other, class: "form-control input-lg", placeholder: "Others" %>
                                            <span class="help-block text-danger"></span>
                                        </div>
                                    </div>
                                <% end %>

                                <div id="success"></div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="form-group col-xs-12">
                                        <%= button_tag(type: 'Submit', class: "btn btn-lg btn-warning btn-block") do %>
                                            <i class="icon-ok icon-white"></i> Subscribe
                                        <% end %> 
                                        <%= link_to 'Home', root_path, class: "btn btn-lg btn-default btn-block", style: "color: #676a6c" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 style="margin: 15px;"><span style="color: #f2b826;">BROKERS</span></h1> 
                                </div>
                                <div class="col-md-12">
                                    <blockquote style="margin-bottom: 0;">
                                    <small style="color: #ffffff;">
                                        Integration: It’s not just connecting apps and sharing data: – 
                                        It’s about accelerating and delivering business value and innovation
                                    </small>
                                    </blockquote>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-12 about-us">
                            <div class="panel-group" id="accordion" style="color: #333; text-shadow: none; margin-top: 20px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title" style="font-size: 13px;">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="" style="color: #333;">
                                                Automate and Streamline processes
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                                        <div class="panel-body" style="font-size: 14px;">
                                            <ul class="sortable-list connectList agile-list ui-sortable">
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Visibility for Agents and Coordinators who don’t have access to critical applications/data.
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Eliminating manual duplicate data entry (Time and Accuracy).
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Real-time Actions and Reporting on Client Acquisition Cost
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Getting more insight on KPIs to Forecast a pipeline for the business
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title" style="font-size: 13px;">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false" style="color: #333;">
                                                Future Proofing Business
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body" style="font-size: 14px;">
                                            <ul class="sortable-list connectList agile-list ui-sortable">
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Flexibility to manage change and do more with less
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Scalability to meet future growth needs
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Reduction of dependency on brittle “custom coded” connections - developer dependent SPF (“Single point of Failure”)
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Standardize on modern and robust technologies to break down the restrictions of the past 
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title" style="font-size: 13px;">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false" style="color: #333;">
                                                Competitive Edge
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body" style="font-size: 14px;">
                                            <ul class="sortable-list connectList agile-list ui-sortable">
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Being easier to do business with than your competition 
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Reducing and eliminating friction in the sales process throughout customer lifecycle 
                                                    </small>
                                                </li>
                                                <li class="info-element ui-sortable-handle" id="task3">
                                                    <small>
                                                        Enabling all roles to be more efficient and effective (inside Sales, outside Agents, Coordinators, Vendors)
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</header>

<script type="text/javascript">
    
        $(document).ready(function(){

            var elems = Array.prototype.slice.call(document.querySelectorAll('.switch1'));

            elems.forEach(function(html) {
              var switchery = new Switchery(html);
            });

        });

</script>