<header id="top" class="header">
	<div class="text-vertical" style="padding-top: 30px;">
		<div class="container-fluid">
			<div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 style="margin: 15px;"><span style="color: #f2b826;">BROKERS</span></h1> 
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <%= form_for @subscribe, remote: true, format: :js, authenticity_token: true do |f| %>

                                <div class="row control-group" style="padding-top: 20px;">
                                    <div class="form-group col-lg-6 floating-label-form-group controls no-pad-right">
                                        <%= f.text_field :firstname, class: "form-control input-lg required", placeholder: "Firstname", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6 floating-label-form-group controls">
                                        <%= f.text_field :lastname, class: "form-control input-lg required", placeholder: "Lastname", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <%= f.text_field :company, class: "form-control input-lg required", placeholder: "Your Company", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-lg-6 floating-label-form-group controls no-pad-right">
                                        <%= f.email_field :email, class: "form-control input-lg required", placeholder: "e-mail", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6 floating-label-form-group controls">
                                        <%= f.text_field :phone, class: "form-control input-lg required", placeholder: "Phone", required: "" %>
                                        <span class="help-block text-danger"></span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <%= f.collection_select :number_of_agents_id, NumberOfAgent.order(:agents),:id,:agents, {prompt: "How many agents?"}, {class: "form-control",style: "height: 45px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;"} %>
                                    </div>
                                </div>

                                <%= f.fields_for :broker_checkboxes do |builder| %>
                                    <div class="row control-group">
                                        <div class="form-group col-lg-6">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:agent_lead, {checked: (:agent_lead ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Agent Lead
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:top_producer, {checked: (:top_producer ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Top Producer
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:boom_town, {checked: (:boom_town ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Boom Town
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:brivity, {checked: (:brivity ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Brevity
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery" style="text-align: left;">
                                                        <%= builder.check_box(:voicepad, {checked: (:voicepad ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Voicepad
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:vulcan7, {checked: (:vulcan7 ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Vulcan7
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:lone_wolf, {checked: (:lone_wolf ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Lone Wolf
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:real_geeks, {checked: (:real_geeks ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Real Geeks
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:rethink, {checked: (:rethink ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        ReThink
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:real_webmaster, {checked: (:real_webmaster ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Real Estate Webmaster
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:proquest, {checked: (:proquest ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        ProQuest
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="text-align: left;">
                                                    <label class="category-select switchbox_chery">
                                                        <%= builder.check_box(:commision_inc, {checked: (:commision_inc ? false : true) ,:class=> 'switch1'}, false, true) %>
                                                        Commision Inc. FirePoint
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <%= builder.text_field :other, class: "form-control input-lg", placeholder: "Others" %>
                                            <span class="help-block text-danger"></span>
                                        </div>
                                    </div>
                                <% end %>

                                <div id="success"></div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="form-group col-xs-12">
                                        <%= button_tag(type: 'Submit', class: "btn btn-lg btn-warning btn-block", disabled: "true", id: "watch_video") do %>
                                            <i class="icon-ok icon-white"></i> Complete all required fields.
                                        <% end %> 
                                        <%= link_to 'Home', root_path, class: "btn btn-lg btn-default btn-block", style: "color: #676a6c" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</header>

<script type="text/javascript">
    
        $(document).ready(function(){

            var elems = Array.prototype.slice.call(document.querySelectorAll('.switch1'));

            elems.forEach(function(html) {
              var switchery = new Switchery(html);
            });

        });
</script>   
<script type="text/javascript">
    $(function() {

        $('.required').keyup(function() {
            var empty = false;
            $('.required').each(function() {
                if ($(this).val() == '') {
                    empty = true;
                }
            });

            if (empty) {
                $('#watch_video').text('Complete all required fields.');
                $('#watch_video').attr('disabled', 'disabled');
            } else {
                $('#watch_video').text('Watch Demo!');
                $('#watch_video').removeAttr('disabled');
            }
        });
    })()
</script>